.form {
        display: contents;
}
.label {
        font-size: 20px;

}
.input {
        width: 12rem;
    height: 2rem;
    border-radius: 5px;
    margin: 5px 0px;

}
.submit {
    cursor: pointer;
    width: 6rem;
    height: 33px;
    margin: 10px;
}
.span {
    margin-bottom: 3rem;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(81, 81, 81);
}
.App {
  text-align: center;
}
